
@{
    ViewBag.Title = "DataComex";
}

<h2>DocMail</h2>
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h2>Commercial Invoices:</h2>
        </div>
        <div class="col">
            <h1>hola</h1>
        </div>
    </div>

    <div class="row">
        <div id="tabla-container" class="table-responsive">
            <table id="mi-tabla" class="table table-striped">
                <thead>
                    <tr>
                        <th>USUAUSAP</th>
                        <th>USUAPASW</th>
                        <th>USUANOMB</th>
                        <th>USUAMAIL</th>
                        <th>USUACOIN</th>
                        <th>USUASOCO</th>
                        <th>USUAADMI</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="text-center mt-3">
                <button id="busqueda-btn" class="btn btn-primary">Buscar Registros</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $("#busqueda-btn").click(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("GetRecords", "DM")',
                success: function (data) {

                    if (data !== null) {
                        var tabla = $('#mi-tabla');
                        tabla.find('tbody').empty();

                        $.each(data, function (i, item) {
                            var fila = '<tr>' +
                                '<td>' + item.USUAUSAP + '</td>' +
                                '<td>' + item.USUAPASW + '</td>' +
                                '<td>' + item.USUANOMB + '</td>' +
                                '<td>' + item.USUAMAIL + '</td>' +
                                '<td>' + item.USUACOIN + '</td>' +
                                '<td>' + item.USUASOCO + '</td>' +
                                '<td>' + item.USUAADMI + '</td>' +
                                '</tr>';
                            tabla.find('tbody').append(fila);

                        });
                    } else {
                        alert("No se recibieron datos válidos del servidor.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error al obtener los resultados: " + error);
                }
            });
        });

        $("#login-btn").click(function () {
    
    </script>
}




@{
    ViewBag.Title = "DataComex";
}

<h2>DataComex</h2>

<div id="tabla-container" class="table-responsive">
    <div class="row">
        <div class="col">
            <h2>Consumos:</h2>
        </div>
    </div>
    <table id="mi-tabla" class="table table-striped">
        <thead>
            <tr>
                <th>NUMERO</th>
                <th>FECHA</th>
                <th>DESTINATARIO</th>
                <th>MAIL</th>
                <th>USUARIO</th>
                <th>Fecha Ult. Envío</th>
                <th>Cant. Envíos</th>
                <th>Titulo</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <button id="busqueda-btn" class="btn btn-primary">Buscar Registros</button>
    </div>
</div>



@section scripts {
    <script type="text/javascript">

        $("#busqueda-btn").click(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("GetRecords", "DM")',
                success: function (data) {

                    if (data !== null) {
                        var tabla = $('#mi-tabla');
                        tabla.find('tbody').empty();

                        $.each(data, function (i, item) {
                            var fila = '<tr>' +
                                '<td>' + item.FACTURA + '</td>' +
                                '<td>' + item.FECHA + '</td>' +
                                '<td>' + item.DESTINATARIO + '</td>' +
                                '<td>' + item.DIRECCION + '</td>' +
                                '<td>' + item.MAIL + '</td>' +
                                '<td>' + item.USUARIO + '</td>' +
                                '<td>' + item.FECHAULTENV + '</td>' +
                                '<td>' + item.CANT_ENVIOS + '</td>' +
                                '</tr>';
                            tabla.find('tbody').append(fila);

                        });
                    } else {
                        alert("No se recibieron datos válidos del servidor.");
                    }
                },
                error: function (xhr, status, error) {
                    console.log(data)
                    alert("Error al obtener los resultados: " + error);
                }
            });
        });

    </script>
}
